/* LayerSlider Default Skin */



.ls-defaultskin {
  margin:0;
  padding:4px;
  background: #fff;
  border: 1px solid #e0e0e0;
  position: relative;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.055);
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.055);
  zoom: 1;

}

.ls-defaultskin .ls-bottom-nav-wrapper {
  text-align: center;
  margin: 15px auto 0px auto;
  position: relative;
}

.ls-defaultskin .ls-playvideo {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
}

.ls-defaultskin .ls-playvideo,
.ls-defaultskin .ls-nav-sides,
.ls-defaultskin .ls-bottom-slidebuttons a,
.ls-defaultskin .ls-nav-prev,
.ls-defaultskin .ls-nav-next,
.ls-defaultskin .ls-nav-start,
.ls-defaultskin .ls-nav-stop {
  background-image: url(skin.png);	
}

.ls-defaultskin .ls-playvideo {
  background-position: -300px -150px;
}

.ls-defaultskin .ls-playvideo:hover,
.ls-defaultskin .ls-vpcontainer:hover .ls-playvideo {
  background-position: -375px -150px;
}

.ls-defaultskin .ls-nav-prev {
  background-position: 0px 0px;
}

.ls-defaultskin .ls-nav-prev:hover {
  background-position: 0px -75px;
}

.ls-defaultskin .ls-nav-next {
  background-position: -150px 0px;
}

.ls-defaultskin .ls-nav-next:hover {
  background-position: -150px -75px;
}

.ls-defaultskin .ls-nav-start {
  background-position: -300px 0px;
}

.ls-defaultskin .ls-nav-start:hover,
.ls-defaultskin .ls-nav-start-active {
  background-position: -300px -75px;
}

.ls-defaultskin .ls-nav-stop {
  background-position: -450px 0px;
}

.ls-defaultskin .ls-nav-stop:hover,
.ls-defaultskin .ls-nav-stop-active {
  background-position: -450px -75px;
}

.ls-defaultskin .ls-bottom-slidebuttons a {
  background-position: 0px -150px;
}

.ls-defaultskin .ls-bottom-slidebuttons a.ls-nav-active,
.ls-defaultskin .ls-bottom-slidebuttons a:hover {
  background-position: -75px -150px;
}

.ls-defaultskin .ls-nav-sideleft {
  background-position: -150px -150px;	
}

.ls-defaultskin .ls-nav-sideright {
  background-position: -225px -150px;	
}



.ls-defaultskin .ls-nav-prev,
.ls-defaultskin .ls-nav-next {
  width: 45px;
  height: 55px;
  z-index: 10000;
  top: 50%;
  margin-top: -27px;	
  position: absolute;
}

.ls-defaultskin .ls-nav-prev {
  left: 5px;	
}

.ls-defaultskin .ls-nav-next {
  right: 5px;	
}



.ls-defaultskin .ls-bottom-slidebuttons,
.ls-defaultskin .ls-bottom-slidebuttons a,
.ls-defaultskin .ls-nav-start,
.ls-defaultskin .ls-nav-stop,
.ls-defaultskin .ls-nav-sides {
  height: 28px;
}

.ls-defaultskin .ls-bottom-slidebuttons,
.ls-defaultskin .ls-bottom-slidebuttons a,
.ls-defaultskin .ls-nav-start,
.ls-defaultskin .ls-nav-stop,
.ls-defaultskin .ls-nav-sides {
  display: inline-block;
}

.ls-defaultskin .ls-nav-start,
.ls-defaultskin .ls-nav-stop {
  width: 24px;
}

.ls-defaultskin .ls-bottom-slidebuttons a {
  width: 20px;
}

.ls-defaultskin .ls-nav-sides {
  width: 6px;	
}



.ls-defaultskin .ls-thumbnail-hover {
  bottom: 55px;
  padding: 4px;
  margin-left: 1px;
}

.ls-defaultskin .ls-thumbnail-hover-bg {
  background: white;
  box-shadow: 0px 2px 12px -4px black;
  border-radius: 4px;
}

.ls-defaultskin .ls-thumbnail-hover span {
  border: 5px solid white;
  margin-left: -5px;
}



.ls-defaultskin .ls-thumbnail {
  top: -20px;
}

.ls-defaultskin .ls-thumbnail-inner {
  padding: 5px;
  margin-left: -5px;
  background: white;
  box-shadow: 0px 3px 35px -10px black;
  border-radius: 4px;
}

.ls-defaultskin .ls-thumbnail-slide a {
  margin-right: 5px;
}

.ls-defaultskin .ls-nothumb {
  background: #eee;
}



.ls-defaultskin .ls-above-thumbnails {
  display: none;
}

.ls-defaultskin .ls-below-thumbnails {
  display: block;
  margin-top: -20px;
}