/**************************************************/
/*                  G E N E R A L                 */
/**************************************************/

.clear {
  clear: both;
  float: none !important;
}


/**************************************************/
/*                    LIST VIEW                   */
/**************************************************/
.wp-list-table {
  margin: 15px 0px;
}

.ls-box.ls-import-box  textarea {
  width: 100%;
  height: 100px;
}

.ls-box.ls-slider-list table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.ls-box.ls-slider-list thead td {
  padding-left: 10px;
}

.ls-box.ls-slider-list tbody td {
  height: 20px;
}

.ls-box.ls-slider-list td:first-child {
  text-align: center;
}

.ls-box.ls-slider-list a {
  text-decoration: none !important;
}

.ls-help-pointer .inner {
  padding: 10px;
  text-align: justify;
}

.ls-help-pointer .wp-pointer-arrow {
  left: auto;
  right: 10px;
}

/**************************************************/
/*                  EDITOR GENERAL                */
/**************************************************/

.ls-page {
  display: none;
}

.ls-page.active {
  display: block;
}

.ls-icon-layers {
  width: 32px;
  height: 32px;
  float: left;
  margin: 11px 8px 0px 0px;
  background: transparent url(../img/sprite.png) 0px -119px no-repeat;
}

.ls-box {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-bottom: 15px;
}

.ls-box .header, .ls-box thead {
  height: 29px;
  margin: 0px;
  padding: 0px 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfdf;
  font: normal normal bold 12px/29px Arial, serif;
  color: #333;
  text-shadow: 0px 1px 0px #fff;

  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9f9f9 0%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f9f9f9 0%,#ededed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.ls-box .header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ls-box .inner {
  padding: 10px;
}

.ls-box table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.ls-box thead td {
  border-bottom: 1px solid #dfdfdf;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9f9f9 0%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f9f9f9 0%,#ededed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.ls-box tbody td {
  height: 30px;
  padding: 4px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e3e3e3;
  font: normal normal normal 13px/16px Arial, serif;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
}

.ls-box a {
  text-decoration: none;
}

.ls-settings tbody td:first-child {
  width: 200px;
  text-align: right;
  font-size: 11px;
}

/**************************************************/
/*                  SETTINGS PAGE                 */
/**************************************************/

#post-body-content {
  float: none;
}

#titlediv {
  margin-bottom: 10px;
}

.ls-checkbox {
  display: inline-block;
  width: 35px;
  height: 16px;
  margin: 5px 0px 0px 2px;
  position: relative;
  background: transparent url(../img/sprite.png) 0px -291px no-repeat;
}

.ls-checkbox span {
  display: inline-block;
  width: 19px;
  height: 19px;
  position: absolute;
  top: -2px;
  left: 17px;
  background: transparent url(../img/sprite.png) 0px -343px no-repeat;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.ls-checkbox.on {
  background: transparent url(../img/sprite.png) 0px -317px no-repeat;
}

.ls-checkbox.on span {
  left: -2px;
}

.ls-box h4 {
  margin: 0px;
}

.ls-box td.desc {
  margin: 0px;
  color: #9d9daa;
  font-size: 11px;
}

.ls-box td div.reset-parent {
  position: relative;
}

.ls-box .input, .ls-box select {
  width: 150px;
}

.ls-box .ls-reset {
  position: absolute;
  top: 7px;
  left: 135px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #666;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px #fff;
}

.ls-slide-options .ls-reset {
  left: 85px;
}

.ls-slide-options .checkbox, .ls-sublayers .checkbox {
  width: auto;
  height: auto;
}

#ls-icon-basic {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin: 6px 8px 0px 10px;
  background: transparent url(../img/sprite.png) 0px -156px no-repeat;
}

#ls-icon-slideshow, #ls-icon-preview {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin: 6px 8px 0px 10px;
  background: transparent url(../img/sprite.png) 0px -183px no-repeat;
}

#ls-icon-appearance {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin: 6px 8px 0px 10px;
  background: transparent url(../img/sprite.png) 0px -210px no-repeat;
}

#ls-icon-nav {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin: 6px 8px 0px 10px;
  background: transparent url(../img/sprite.png) 0px -726px no-repeat;
}

#ls-icon-misc {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin: 6px 8px 0px 10px;
  background: transparent url(../img/sprite.png) 0px -237px no-repeat;
}

#ls-icon-yourlogo {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin: 6px 8px 0px 10px;
  background: transparent url(../img/sprite.png) 0px -264px no-repeat;
}

/**************************************************/
/*                      LAYERS                    */
/**************************************************/

#ls-sample {
  display: none;
}

#ls-layer-tabs {
  position: relative;
  z-index: 1;
}

#ls-layer-tabs a {
  display: block !important;
  position: relative;
  width: 78px;
  height: 30px;
  padding: 0px 10px;
  border: 1px solid #dfdfdf;
  color: #c7c7c7;
  background-color: #f9f9f9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;
  font: normal normal bold 13px/30px Arial, serif;
  float: left;
  margin: 3px 3px 0px 0px;
}

#ls-layer-tabs .ui-sortable-helper {
  position: absolute !important;
}

#ls-layer-tabs a span {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 8px; right: 10px;
  border: 1px solid #ad1714;
  font: normal normal normal 10px/10px Arial, serif;
  color: #FFF;
  background-color: #db1b17;
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow:inset 1px 1px 0px rgba(255,255,255,0.2),1px 1px 0px #fff;
  -moz-box-shadow:inset 1px 1px 0px rgba(255,255,255,0.2),1px 1px 0px #fff;
  box-shadow:inset 1px 1px 0px rgba(255,255,255,0.2),1px 1px 0px #fff;
}

#ls-layer-tabs a span {
  display: none;
}

#ls-add-layer {
  border: 0px !important;
  margin: 4px 0px 0px 5px !important;
  padding: 0px 0px 0px 20px !important;
  color: #2175a7 !important;
  font-weight: normal !important;
  background: #fff url(../img/sprite.png) 0px -425px no-repeat !important;
  width: auto !important;
}

.ls-add-sublayer {
  display: inline-block;
  height: 20px;
  border: 0px !important;
  margin: 10px 0px 10px 10px !important;
  padding: 0px 0px 0px 20px !important;
  color: #2175a7 !important;
  font-weight: normal !important;
  background: #fff url(../img/sprite.png) 0px -429px no-repeat !important;
  text-decoration: none;
  font: normal normal normal 13px/20px Arial, serif;
}

#ls-layer-tabs a.active {
  color: #333;
  border-bottom: 1px solid #f9f9f9;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #f9f9f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#f9f9f9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

#ls-layer-tabs a.active span {
  display: inline-block;
}

.ls-layer-box {
  display: none;
  top: -1px;
  position: relative;
}

.ls-layer-box.active {
  display: block;
}

.ls-layer-box thead {
  border-top: 0px;
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #ececec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f2f2 0%,#ececec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f2f2 0%,#ececec 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#ececec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}

#ls-icon-layer-options {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 6px 8px 0px 10px;
  background: transparent url(../img/sprite.png) 0px -376px no-repeat;
}

.ls-layer-duplicate {
  float: right;
  margin-right: 8px;
  font-weight: normal;
}

#ls-icon-sublayers {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 6px 8px 0px 10px;
  background: transparent url(../img/sprite.png) 0px -403px no-repeat;
}

.ls-slide-options input, .ls-slide-options select {
  width: 100px;
}

.ls-slide-options td {
  color: #999;
}

.ls-slide-options td:first-child {
  width: 150px;
  padding-right: 10px;
  text-align: right;
  color: #333;
}

.ls-slide-options .right {
  text-align: right;
}

.ls-preview {
  background-position: center center;
  background-repeat: no-repeat;
}

.ls-preview-td {
  background-color: white !important;
}

.ls-preview-wrapper {
  margin: 0px auto;
  position: relative;
}

.ls-preview, .ls-preview .draggable {
  width: 600px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px auto;
  position: relative;
}

.ls-preview .draggable {
  border: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: transparent;
  background-position: center center !important;
  background-repeat: no-repeat;
}

.ls-preview .draggable > * {
  position: absolute;
  margin: 0px;
  padding: 0px;
  line-height: normal;
}

.ls-preview .draggable img {
  min-width: none;
  max-width: none;
}

.ls-preview img.ui-draggable-dragging {
  box-shadow: 0px 0px 7px black;
}

.ls-preview-button {
  margin: 0px 0px 10px 10px
}

.ls-real-time-preview {
  display: none;
}

.layerslider {
  margin: 10px auto;
  background-position: center center;
}


/**************************************************/
/*                    SUBLAYERS                   */
/**************************************************/

.ls-sublayers td {
  height: 38px;
  padding: 0px !important;
}


.ls-sublayers tr {
  cursor: pointer;
}


.ls-sublayer-wrapper {
  position: relative;
}

.ls-sublayer-number {
  display: block;
  width: 30px;
  height: 20px;
  float: left;
  margin: 7px;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  background-color: #dfdfdf;
  text-align: center;
  color: #818181;
  font: normal normal normal 13px/20px Arial, serif;
  box-shadow: inset 0px 0px 2px #CCC;
}

.ls-highlight {
  display: block;
  margin: 12px 7px 0px 0px;
  float: left;
  text-align: center;
}

.ls-sublayer-title {
  float: left;
  margin: 0px;
  margin-top: 7px;
  font: normal normal normal 12px/14px Arial, serif;
  color: #333;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

.ls-sublayer-title:hover, .ls-sublayer-title:focus {
  border: 1px solid #7F9AB7 !important;
  background-color: transparent !important;
}

.ls-sublayers tr.active .ls-sublayer-wrapper {
  border-top: 1px solid #ecf3fc;
  border-bottom: 0px;
  background: #d8eafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #d8eafa 0%, #c4daf6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8eafa), color-stop(100%,#c4daf6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d8eafa 0%,#c4daf6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d8eafa 0%,#c4daf6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d8eafa 0%,#c4daf6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d8eafa 0%,#c4daf6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8eafa', endColorstr='#c4daf6',GradientType=0 ); /* IE6-9 */
}

.ls-sublayer-pages {
  display: none;
}

.ls-sublayer-pages tr {
  cursor: default;
}

.ls-sublayer-page td {
  padding: 5px 0px !important;
}

.ls-sublayers tr.active .ls-sublayer-pages {
  display: block;
}

.ls-sublayers .active .ls-sublayer-number {
  border: 1px solid #7f9ab7;
  background-color: #b8cfe9;
  box-shadow: inset 0px 0px 2px #b2c8e1;
}

.ls-sublayers .active .ls-sublayer-title {
  color: #475e77;
}

.ls-sublayers .ui-sortable-helper {
  box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.1), 0px -8px 5px -4px rgba(0,0,0,0.1);
}

.ls-sublayer-nav {
  width: 600px;
  display: none;
  position: absolute !important;
  top: 6px;
  right: 5px;
  text-align: right;
}

.ls-sublayer-nav a {
  display: inline-block;
  height: 30px;
  padding: 0px 10px;
  border: 1px solid transparent;
  border-bottom: 0px;
  text-decoration: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font: normal normal normal 13px/30px Arial, serif;
}

.ls-sublayer-nav a.active {
  border: 1px solid #b8cfe9;
  border-bottom: 0px;
  background-color: #fff;
}

.ls-sublayer-nav a.remove {
  width: 10px;
  height: 10px;
  padding: 0px;
  margin: 0px 10px;
  position: relative;
  top: -2px;
  border: 1px solid #ad1714;
  font: normal normal normal 10px/10px Arial, serif;
  color: #FFF;
  background-color: #db1b17;
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow:inset 1px 1px 0px rgba(255,255,255,0.2),1px 1px 0px #fff;
  -moz-box-shadow:inset 1px 1px 0px rgba(255,255,255,0.2),1px 1px 0px #fff;
  box-shadow:inset 1px 1px 0px rgba(255,255,255,0.2),1px 1px 0px #fff;
}

.ls-sublayers .active .ls-sublayer-nav {
  display: block;
}

.ls-sublayer-pages {
  background-color: #fff;
  cursor: default;
}

.ls-sublayer-pages .ls-sublayer-page {
  display: none;
}

.ls-sublayer-pages .ls-sublayer-page.active {
  display: block;
}

.ls-sublayer-wrapper {
  width: 100%;
}

/* SUBLAYER BASIC */

.ls-sublayer-basic {
  border-bottom: 1px solid #E3E3E3;
}

.ls-sublayer-basic select {
  display: none;
}

.ls-sublayer-types {
  padding-top: 10px;
  text-align: center;
}

.ls-type {
  display: inline-block;
  width: 60px;
  height: 45px;
  padding-top: 10px;
  color: #333;
  text-align: center;
  font: normal normal normal 11px/16px Arial, serif;
  border: 1px solid transparent;
  cursor: pointer;
}

.ls-type.active {
  border-radius: 3px;
  border: 1px solid #b3cce9;
  background: #d5e9fa; /* Old browsers */
  background: -moz-linear-gradient(top,  #d5e9fa 0%, #c6dbf7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5e9fa), color-stop(100%,#c6dbf7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d5e9fa 0%,#c6dbf7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d5e9fa 0%,#c6dbf7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d5e9fa 0%,#c6dbf7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d5e9fa 0%,#c6dbf7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e9fa', endColorstr='#c6dbf7',GradientType=0 ); /* IE6-9 */
}

.ls-type span {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.ls-icon-img {
  background: transparent url(../img/sprite.png) 0px -457px no-repeat;
}

.ls-icon-div {
  background: transparent url(../img/sprite.png) 0px -482px no-repeat;
}

.ls-icon-p {
  background: transparent url(../img/sprite.png) 0px -509px no-repeat;
}

.ls-icon-span {
  background: transparent url(../img/sprite.png) 0px -536px no-repeat;
}

.ls-icon-h1 {
  background: transparent url(../img/sprite.png) 0px -563px no-repeat;
}

.ls-icon-h2 {
  background: transparent url(../img/sprite.png) 0px -590px no-repeat;
}

.ls-icon-h3 {
  background: transparent url(../img/sprite.png) 0px -617px no-repeat;
}

.ls-icon-h4 {
  background: transparent url(../img/sprite.png) 0px -644px no-repeat;
}

.ls-icon-h5 {
  background: transparent url(../img/sprite.png) 0px -671px no-repeat;
}

.ls-icon-h6 {
  background: transparent url(../img/sprite.png) 0px -698px no-repeat;
}

.ls-image-uploader {
  width: 500px;
  margin: 0px auto;
  margin-top: 20px;
}

.ls-html-code {
  width: 620px;
  margin: 0px auto;
  margin-top: 10px;
}

.ls-html-code h5 {
  margin: 0px 0px 10px 0px;
}

.ls-html-code textarea {
  width: 100%;
  height: 100px;
}

.ls-image-uploader img {
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  padding: 5px;
  margin-right: 10px;
  float: left;
  border-radius: 3px;
}

.ls-image-uploader p {
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  color: #999;
  font: normal normal normal 11px/12px Arial, serif;
  text-align: justify;
}

.ls-image-uploader input {
  width: 425px;
}
/* SUBLAYER OPTIONS */

.ls-sublayer-options td {
  color: #999;
}

.ls-sublayer-options td.right {
  padding-right: 10px !important;
  text-align: right;
}

.ls-sublayer-options input, .ls-sublayer-options select {
  width: 80px;
}

.ls-sublayer-options td:first-child {
  width: 150px;
  padding-right: 10px !important;
  text-align: right;
  color: #333;
}

/* SUBLAYER LINK */

.ls-sublayer-link td {
  color: #999;
}

.ls-sublayer-link .url {
  width: 400px;
}

.ls-sublayer-link input {
  width: 400px;
}

.ls-sublayer-link td:first-child {
  width: 150px;
  padding-right: 10px !important;
  text-align: right;
  color: #333;
}

/* SUBLAYER STYLE */

.ls-sublayer-style td {
  color: #999;
}

.ls-sublayer-style td.right {
  padding-right: 10px !important;
  text-align: right;
}

.ls-sublayer-style input {
  width: 80px;
}

.ls-sublayer-style td:first-child {
  width: 150px;
  padding-right: 10px !important;
  text-align: right;
  color: #333;
}

.ls-sublayer-style textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0px;
}

.ls-sublayer-style .style {
  width: 300px;
}

/* SUBLAYER ATTRIBUTES */

.ls-sublayer-attributes td {
  color: #999;
}

.ls-sublayer-attributes td.right {
  padding-right: 10px !important;
  text-align: right;
}

.ls-sublayer-attributes input {
  width: 120px;
}

.ls-sublayer-attributes td:first-child {
  width: 150px;
  padding-right: 10px !important;
  text-align: right;
  color: #333;
}

/* SUBLAYER HTML */

.ls-sublayer-html {
  padding: 10px;
}

.ls-sublayer-html h5 {
  margin: 0px 10px 10px 0px;
  cursor: default !important;
}

.ls-sublayer-html textarea {
  width: 100%;
  height: 100px;
}

/**************************************************/
/*                  CALLBACK BOXES                */
/**************************************************/

.ls-callback-page {
  margin: 0px -10px 0px 0px;
}

.ls-box.ls-callback-box {
  width: 33.33%;
  float: left;
  margin: 0px 10px 10px 0px;
}


.ls-box.ls-callback-box.side {
  margin-right: 0px;
}

.ls-box.ls-callback-box textarea{
  width: 100%;
  height: 150px;
}

/**************************************************/
/*                    MAIN MENU                   */
/**************************************************/

#ls-main-nav-bar {
  height: 38px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin: 10px 0px;

  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f9f9f9 0%,#ececec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */

}

#ls-main-nav-bar a {
  display: block;
  height: 38px;
  margin: 0px;
  padding: 0px 10px 0px 34px;
  float: left;

  font: normal normal normal 13px/38px Arial, serif;
  color: #2175a7;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fff;
}

#ls-main-nav-bar a:last-child {
  display: none;
}

#ls-main-nav-bar a.support {
  float: right;
}


#ls-main-nav-bar a.active {
  font: normal normal bold 12px/38px Arial, serif;
  color: #464646;
}

#ls-main-nav-bar a.settings {
  border-right: 1px solid #dfdfdf;
  background: transparent url(../img/sprite.png) 10px 0px no-repeat;
}

#ls-main-nav-bar a.layers {
  border-left: 1px solid #fff;
  border-right: 1px solid #dfdfdf;
  background: transparent url(../img/sprite.png) 10px -27px no-repeat;
}

#ls-main-nav-bar a.callbacks {
  border-left: 1px solid #fff;
  background: transparent url(../img/sprite.png) 10px -54px no-repeat;
}

#ls-main-nav-bar a.support {
  background: transparent url(../img/sprite.png) 10px -81px no-repeat;
}

/**************************************************/
/*                     SUPPORT                   */
/**************************************************/

.ls-support thead td {
  padding: 0px 10px;
}

.ls-support tbody td {
  padding: 15px;
  text-align: justify;
  color: #666;
}

.ls-publish button {
  float: left;
}

.ls-saving-warning {
  float: left;
  margin: 5px 0px 0px 10px;
}

.ls-preview-button {
  display: block !important;
  margin: 0px auto 5px auto !important;
}

.wp-core-ui button.saving, .wp-core-ui button.saving:disabled, .wp-core-ui button.saving[disabled] {
  text-shadow: none !important;
  cursor: default !important;
  color: white !important;
  background: #ff3232 !important;
  background: -moz-linear-gradient(top, #ff3232 0%, #b50000 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3232), color-stop(100%,#b50000)) !important;
  background: -webkit-linear-gradient(top, #ff3232 0%,#b50000 100%) !important;
  background: -o-linear-gradient(top, #ff3232 0%,#b50000 100%) !important;
  background: -ms-linear-gradient(top, #ff3232 0%,#b50000 100%) !important;
  background: linear-gradient(to bottom, #ff3232 0%,#b50000 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#b50000',GradientType=0 ) !important;
  border: 1px solid #ff3232 !important;
}

.wp-core-ui button.saved, .wp-core-ui button.saved:disabled, .wp-core-ui button.saved[disabled], button.playing {
  text-shadow: none !important;
  color: white !important;
  background: #76c928 !important;
  background: -moz-linear-gradient(top, #76c928 0%, #3e7f19 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76c928), color-stop(100%,#3e7f19)) !important;
  background: -webkit-linear-gradient(top, #76c928 0%,#3e7f19 100%) !important;
  background: -o-linear-gradient(top, #76c928 0%,#3e7f19 100%) !important;
  background: -ms-linear-gradient(top, #76c928 0%,#3e7f19 100%) !important;
  background: linear-gradient(to bottom, #76c928 0%,#3e7f19 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c928', endColorstr='#3e7f19',GradientType=0 ) !important;
  border: 1px solid #76c928 !important;
}

.yourlogo {
  z-index: 99;
  position: absolute;
}

/******************************************************************/
/* Trying to remove all the default global styles of WordPress :) */
/******************************************************************/

.wrap .ls-preview *,
.wrap .ls-layer * {
  text-shadow: none;
}

/**************************************************/
/*               S K I N  E D I T O R             */
/**************************************************/

.ls-skin-editor-box {
  margin-top: 10px;
}

.ls-skin-editor-box h3 {
  height: 35px !important;
  line-height: 35px !important;
}

.ls-skin-editor-box h3 p {
  margin: 0px;
  margin-right: -5px;
  font-weight: normal;
  float: right;
}

.ls-skin-editor-box textarea {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.ls-skin-editor-box .inner p {
  margin: 5px 0px;
}

.wrap h2 {
  font-size: 23px;
  line-height: 29px;
  padding: 9px 15px 4px 0;
}
.wrap h2, .subtitle {
  font-weight: normal;
  margin: 0;
  text-shadow: 0 1px 0 #FFFFFF;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
  border-color: #DFDFDF ;
}
.ls-html-code textarea {
  height: 100px;
  width: 100%;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
  border-color: #DFDFDF;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
  background-color: #FFFFFF;
  color: #333333;
}
.widefat, div.updated, div.error, .wrap .add-new-h2, textarea, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select, .tablenav .tablenav-pages a, .tablenav-pages span.current, #titlediv #title, .postbox, #postcustomstuff table, #postcustomstuff input, #postcustomstuff textarea, .imgedit-menu div, .plugin-update-tr .update-message, #poststuff .inside .the-tagcloud, .login form, #login_error, .login .message, #menu-management .menu-edit, .nav-menus-php .list-container, .menu-item-handle, .link-to-original, .nav-menus-php .major-publishing-actions .form-invalid, .press-this #message, #TB_window, .tbtitle, .highlight, .feature-filter, #widget-list .widget-top, .editwidget .widget-inside {
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px !important;
}
textarea, input, select {
  margin: 1px;
  padding: 3px;
}
.ls-html-code textarea, .ls-sublayer-page .style{
  border: 1px solid #DFDFDF !important;
  height: 100px;
  width: 100%;
  border-color: #DFDFDF;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
  background-color: #FFFFFF;
  color: #333333;
}
.add-new-h2{
  color: #21759B;
  background: none repeat scroll 0 0 #F1F1F1;
  border: 0 none;
  font-family: sans-serif;
  font-size: 12px;
  margin-left: 4px;
  padding: 3px 8px;
  position: relative;
  text-decoration: none;
  top: -3px;
  border-radius: 3px 3px 3px 3px;
  text-decoration: none;
}
.ls-sublayer-page tr td:last-child{
  border: 0 none;
}
.ls-preview .draggable iframe{
  padding: 10px;
  background-color: red;
}
.ls-preview .draggable iframe object{
  background-color: #000;
  display: none;
}