html.overlay-open .navbar-fixed-top{z-index:400}html.js
fieldset.collapsed{height:auto}html.js
input.form-autocomplete{background-image:none}body{position:relative; font-family: 'Roboto Slab', serif; background: #eee}body.admin-expanded.admin-vertical.admin-nw
.navbar,body.admin-expanded.admin-vertical.admin-sw
.navbar{margin-left:260px}body.navbar-is-fixed-top{padding-top:64px!important}body.navbar-is-fixed-bottom{padding-bottom:64px!important}body.toolbar{padding-top:30px!important}body.toolbar
.navbar-fixed-top{top:30px}body.toolbar.navbar-is-fixed-top{padding-top:94px!important}body.toolbar-drawer{padding-top:64px!important}body.toolbar-drawer
.navbar-fixed-top{top:64px}body.toolbar-drawer.navbar-is-fixed-top{padding-top:128px!important}body.admin-menu
.navbar-fixed-top{top:29px}body.admin-menu.navbar-is-fixed-top{padding-top:93px!important}body
div#admin-toolbar{z-index:1600}body #toolbar,body #admin-menu,body
#admin-toolbar{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}body
#admin-menu{margin:0;padding:0;position:fixed;z-index:1600}body #admin-menu
.dropdown li{line-height:normal}.navbar.container{margin-top:0px}

@media screen and (min-width:768px){.navbar.container{max-width:720px} .navbar-collapse {text-align: center} .navbar-nav { display: inline-block;float: none !important}}

 @media screen and (min-width:992px){.navbar.container{max-width:940px} .navbar-collapse {text-align: center} .navbar-nav { display: inline-block;float: none !important}}
 
@media screen and (min-width:1200px){
    .navbar.container{max-width:100%;width: 100%}
    .navbar-collapse {text-align: center}
    .col-sm-3{width: 27%}
    .col-sm-9 {width: 50%}
    .navbar-nav { display: inline-block;float: none !important}
    .navbar-header {width:490px}
    .logo {float: left;  margin: 0 1px 7px}
   
   /*----------------------- course------------*/
   .basavanagudi , .banasawadi , .chennai_vadapalani ,.old_airport_road , .mysore , .rajajinagar , .pune , .odisha , .noida ,
   .chennai_chromepet
   
   {
   background: none repeat scroll 0 0 rgba(255, 175, 75, 0.4);
    cursor: pointer;
    float: left;
    height: 160px;
    line-height: 24px;
   /* margin: 0 3.8px 10px 0;*/
    padding: 0 0 10px;
    text-align: center;
    vertical-align: middle;
   width: 20%
  
 
}
   .upcoming {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    font-size: 13px;
    margin-top: -74px;
    padding: 11px}
   
   
   #branches {/*margin-top: -206px;
    /*position: absolute;
    position: relative;
    width: 100% */
    left: 0;
    margin: -420px auto 57px;
    position: absolute;
    right: 0;
    width: 960px;
    z-index: 999
    }
   
   .view-course .views-row {
    background: none repeat scroll 0 0 #eee;
    float: left;
    margin-right: 7px;
    padding: 10px;
    width: 24.38%;
    margin-bottom: 10px;
    min-height: 228px}
    
     /*---------------------------------testimonials----------------------------------*/
     .view-testimonials .views-field-title { background: none repeat scroll 0 0 #eee;
    font-size: 1.4em !important;
    padding: 10px !important}
       
   .view-testimonials .views-field-field--testimonial-photo {
    float: left;
    width: 20%
    }
   
   .view-branches .views-row {   background: none repeat scroll 0 0 #eee;
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
    min-height: 219px;
    padding: 10px;
    width: 49%}
    }

.navbar.container>.container{margin:0;padding:0;width:auto}#overlay-container,.overlay-modal-background,.overlay-element{z-index:1500}#toolbar{z-index:1600}.modal{z-index:1620}.modal-dialog{z-index:1630}.modal-backdrop{z-index:1610}.footer{margin-top:45px;padding-top:35px;padding-bottom:36px;border-top:1px
solid #E5E5E5}.element-invisible{margin:0;padding:0;width:1px}.navbar
.logo{margin-right:-15px;padding-left:15px;padding-right:15px}@media screen and
(min-width:768px){.navbar
.logo{margin-right:0;padding-left:0}}ul.secondary{float:left}@media screen and
(min-width:768px){ul.secondary{float:right}}.page-header{margin-top:0}.block:first-child
h2.block-title{margin-top:0}p:last-child{margin-bottom:0}.region-help>.glyphicon{font-size:18px;float:left;margin:-.05em
.5em 0 0}.region-help
.block{overflow:hidden}form#search-block-form{margin:0}.navbar
#block-search-form{float:none;margin:5px 0 5px 5px}@media screen and
(min-width:992px){.navbar #block-search-form{float:right}}.navbar-search
.control-group{margin-bottom:0}ul.action-links{margin:12px
0;padding:0}ul.action-links li{display:inline;margin:0;padding:0 6px 0
0}ul.action-links
.glyphicon{padding-right:.5em}input,textarea,select,.uneditable-input{max-width:100%;width:auto}input.error{color:#b94a48;border-color:#ebccd1}fieldset
legend.panel-heading{float:left;line-height:1em;margin:0}fieldset
.panel-body{clear:both}fieldset .panel-heading
a.panel-title{color:inherit;display:block;margin:-10px -15px;padding:10px
15px}fieldset .panel-heading
a.panel-title:hover{text-decoration:none}.form-actions{clear:both}.resizable-textarea
textarea{border-radius:4px 4px 0
0}.radio:first-child,.checkbox:first-child{margin-top:0}.radio:last-child,.checkbox:last-child{margin-bottom:0}.help-block,.control-group
.help-inline{color:#999;font-size:12px;margin:5px 0
10px;padding:0}.panel-heading{display:block}a.tabledrag-handle
.handle{height:auto;width:auto}.error{color:#b94a48}div.error,table
tr.error{background-color:#f2dede;color:#b94a48}.control-group.error{background:0}.control-group.error
label,.control-group.error
.control-label{color:#b94a48;font-weight:600}.control-group.error
input,.control-group.error textarea,.control-group.error
select,.control-group.error .uneditable-input{color:#555;border:1px solid
#ccc}.control-group.error .help-block,.control-group.error
.help-inline{color:#333}.list-inline>li.first{padding-left:0}.nav-tabs{margin-bottom:10px}ul
li.collapsed,ul li.expanded,ul
li.leaf{list-style:none;list-style-image:none}.tabs--secondary{margin:0 0
10px}.submitted{margin-bottom:1em;font-style:italic;font-weight:400;color:#777}.password-strength{width:17em;float:right;margin-top:1.4em}.password-strength-title{display:inline}.password-strength-text{float:right;font-weight:700}.password-indicator{background-color:#949494;height:.3em;width:100%}.password-indicator
div{height:100%;width:0;background-color:#999}input.password-confirm,input.password-field{width:16em;margin-bottom:.4em}div.password-confirm{float:right;margin-top:1.5em;visibility:hidden;width:17em}div.form-item
div.password-suggestions{padding:.2em .5em;margin:.7em 0;width:38.5em;border:1px
solid #B4B4B4}div.password-suggestions
ul{margin-bottom:0}.confirm-parent,.password-parent{clear:left;margin:0;width:36.3em}.progress-wrapper
.progress{margin-bottom:10px}.pagination
ul>li>a.progress-disabled{float:left}.form-autocomplete
.glyphicon{color:#999;font-size:120%}.form-autocomplete
.glyphicon.glyphicon-spin{color:#428bca}.form-autocomplete
.input-group-addon{background-color:#fff}.ajax-progress
.glyphicon{font-size:90%;margin:0 -.25em 0
.5em}.glyphicon-spin{display:inline-block;-moz-animation:spin 1s infinite
linear;-o-animation:spin 1s infinite linear;-webkit-animation:spin 1s infinite
linear;animation:spin 1s infinite linear}a
.glyphicon-spin{display:inline-block;text-decoration:none}@-moz-keyframes
spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes
spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes
spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes
spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes
spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.glyphicon-refresh{-webkit-transform-origin:50%
45%;-moz-transform-origin:50% 45%;-ms-transform-origin:50%
45%;-o-transform-origin:50% 45%;transform-origin:50%
45%}.tabbable{margin-bottom:20px}.tabs-below>.nav-tabs,.tabs-left>.nav-tabs,.tabs-right>.nav-tabs{border-bottom:0}.tabs-below>.nav-tabs
.summary,.tabs-left>.nav-tabs .summary,.tabs-right>.nav-tabs
.summary{color:#999;font-size:12px}.tab-pane>.panel-heading{display:none}.tab-content>.active{display:block}.tabs-below>.nav-tabs{border-top:1px
solid
#ddd}.tabs-below>.nav-tabs>li{margin-top:-1px;margin-bottom:0}.tabs-below>.nav-tabs>li>a{border-radius:0
0 4px
4px}.tabs-below>.nav-tabs>li>a:hover,.tabs-below>.nav-tabs>li>a:focus{border-top-color:#ddd;border-bottom-color:transparent}.tabs-below>.nav-tabs>.active>a,.tabs-below>.nav-tabs>.active>a:hover,.tabs-below>.nav-tabs>.active>a:focus{border-color:transparent
#ddd
#ddd}.tabs-left>.nav-tabs,.tabs-right>.nav-tabs{padding-bottom:20px;width:220px}.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li{float:none}.tabs-left>.nav-tabs>li:focus,.tabs-right>.nav-tabs>li:focus{outline:0}.tabs-left>.nav-tabs>li>a,.tabs-right>.nav-tabs>li>a{margin-right:0;margin-bottom:3px}.tabs-left>.nav-tabs>li>a:focus,.tabs-right>.nav-tabs>li>a:focus{outline:0}.tabs-left>.tab-content,.tabs-right>.tab-content{border-radius:0
4px 4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);-moz-box-shadow:0 1px 1px
rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05);border:1px solid
#ddd;overflow:hidden;padding:10px
15px}.tabs-left>.nav-tabs{float:left;margin-right:-1px}.tabs-left>.nav-tabs>li>a{border-radius:4px
0 0
4px}.tabs-left>.nav-tabs>li>a:hover,.tabs-left>.nav-tabs>li>a:focus{border-color:#eee
#ddd #eee
#eee}.tabs-left>.nav-tabs>.active>a,.tabs-left>.nav-tabs>.active>a:hover,.tabs-left>.nav-tabs>.active>a:focus{border-color:#ddd
transparent #ddd #ddd;-webkit-box-shadow:-1px 1px 1px
rgba(0,0,0,.05);-moz-box-shadow:-1px 1px 1px rgba(0,0,0,.05);box-shadow:-1px 1px
1px
rgba(0,0,0,.05)}.tabs-right>.nav-tabs{float:right;margin-left:-1px}.tabs-right>.nav-tabs>li>a{border-radius:0
4px 4px
0}.tabs-right>.nav-tabs>li>a:hover,.tabs-right>.nav-tabs>li>a:focus{border-color:#eee
#eee #eee #ddd;-webkit-box-shadow:1px 1px 1px
rgba(0,0,0,.05);-moz-box-shadow:1px 1px 1px rgba(0,0,0,.05);box-shadow:1px 1px
1px
rgba(0,0,0,.05)}.tabs-right>.nav-tabs>.active>a,.tabs-right>.nav-tabs>.active>a:hover,.tabs-right>.nav-tabs>.active>a:focus{border-color:#ddd
#ddd #ddd
transparent}th.checkbox,td.checkbox,th.radio,td.radio{display:table-cell}.views-display-settings
.label{font-size:100%;color:#666}.views-display-settings
.footer{padding:0;margin:4px 0 0}table .radio input[type=radio],table .checkbox
input[type=checkbox]{max-width:inherit}.form-horizontal .form-group
label{position:relative;min-height:1px;margin-top:0;margin-bottom:0;padding-top:7px;padding-left:15px;padding-right:15px;text-align:right}@media
(min-width:768px){.form-horizontal .form-group
label{float:left;width:16.666666666666664%}}.alert
a{font-weight:700}.alert-success a{color:#356635}.alert-info
a{color:#2d6987}.alert-warning a{color:#a47e3c}.alert-danger a{color:#953b39}
    
    
    
 .navbar-header {  margin: 0 auto !important;
     background: none repeat scroll 0 0 rgba(255, 255, 255, 1); opacity: 0.89;  position: relative;
    z-index: 999; float: none
    }
    .navbar-header h2 {font-size: 20px}
   
    #navbar {position: relative; z-index: 999;  opacity: 0.9}
    
 /*.navbar-header { height: 221px; width:100%; text-align: center; position: relative; z-index: 999;}   .pull-left {float: none !important;}*/.name {display: none;}
 .navbar {margin:0; padding:0; border-radius: 0; border-left: 0;border-right: 0; /*border-top: 6px solid orange;*/}
 .logo img {margin: 1em 0 0;}
 /*.navbar-header h2 {margin-top:0px!important;}*/
/*header_menu { background: none repeat scroll 0 0 #eee; margin: 0 !important; padding: 0; width: 100%;}*/

/*.navbar-collapse {text-align: center;} .navbar-nav { display: inline-block;float: none !important;}*/


/*#navbar:before {
    background:linear-gradient(to left bottom, mediumseagreen 50%, transparent 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    left:1px;
    bottom: -10px;
    content: "";
    height: 233px;
    opacity: 0.95;
    position: absolute;
    width: 50%;
    z-index: 999;
}

#navbar:after {
    background: linear-gradient(to right bottom, mediumseagreen 50%, transparent 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    right: 0px;
    bottom: -10px;
    content: "";
    height: 233px;
    opacity: 0.95;
    position: absolute;
    width: 50%;
    z-index: 1;
}

/*#navbar:before , #navbar:after {
      bottom: -10px;
    content: "";
    height: 233px;
    opacity: 0.53;
    position: absolute;
    width: 50%;
}*/

.front #slider { margin-top: -223px;
    position: relative;
    z-index: 0;}
    
    a {color:#888888; transition: all 0.3s ease-in 0s;}
.container {background: #fff;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: "Roboto Slab",serif}
#first-time {display: none;}
.front .page-header {display: none;}
.col-sm-3 {padding-left: 0; padding-right: 0; /* width: 27%*/}
.block h2:before {
    border-bottom: 1px solid #666666;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 50px;
}

.block h2 {
    padding-bottom: 15px;
    position: relative;
}

.block h1, .block h2, h1#page-title {
    color: #666666;
    font-size: 1.538em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 25px;
    text-transform: uppercase;
}

.well {background: none;border: none; border-radius: 0}
.date-group{
   /* background: url("http://demo.weebpal.com/educational/sites/all/themes/educational/images/bg-date.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   background:url("/qspiders//sites/all/themes/bootstrap/images/bg-date.png")no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    color: #fff;
    height: 51px;
    line-height: 1;
    padding: 15px  0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
    /*width: 65px;*/
}
.date-group {
    color: #fff;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.date_top .date-display-single {
    font-size: 2.077em;
    font-weight: bold;
     position: relative;
    top: -10px;
    color: #333

}
.date_bottom .date-display-single {position: relative; top: -6px; color: #333}
.view-id-upcoming_batches_ .views-field-nothing {float: left;  height: 100px; width: 26%; margin-right: 6%}
.view-id-upcoming_batches_ .views-row {border-bottom: 1px solid #eee;line-height: 24px; min-height: 156px; padding-bottom: 32px;
    padding-top: 32px;}
/*.views-row-last {border-bottom:none !important}*/
.views-field-title a { color: #555;font-size: 1em; }
.view-id-upcoming_batches_ .views-field-title {float: left; margin-top: -4px; width: 68%;}
.view-id-upcoming_batches_ .views-field-field-description- {  color: #888888; font-family: "roboto_slablight";
   font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.8;
    }
  .view-id-upcoming_batches_  .views-field-view-node a {color:#b51546}
    .block-title {margin: 0 !important;}
    
 .front .col-sm-9:before {left:14px;background: linear-gradient(to left bottom, #eee 50%, transparent 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);} 
 .front .col-sm-9:after {right: 14px; background: linear-gradient(to right bottom, #eee 50%, transparent 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);}
  
.front .col-sm-9:before, .front .col-sm-9:after {
      bottom: -80px;
    content: "";
    height: 80px;
    position: absolute;
    width: 48%
}
 .container .jumbotron {border-radius: 0; background:#b51546 }
 
 #block-block-1 h2:before {
    border-bottom: 1px solid #333;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 50px
}
    #block-block-1  p {color: #333;  font-size: 1em}
   #block-block-1 h2 {color: #333;  font-size: 1.1em}
   #menu {clear: both; background:#eee}
    #block-block-1{  background: none repeat scroll 0 0 #eee; padding: 31px}
 
 .block-title {padding: 10px 0}
 /*--------------------Upcoming batches---------------------------*/
   
  .view-upcoming-batches-basavanagudi .views-row {/*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.13);*/
    border: 3px solid #eee;
    box-shadow: 5px -7px 9px 1px #eee;
    float: left;
    height: 160px;
    margin: 16px 0px 19px;
    padding: 2px 4px 0;
    vertical-align: middle;
    width:25%}
    
  .view-upcoming-batches-basavanagudi .views-field-nothing {
    background:rgba(212, 216, 146, 0.7);
    border: 3px solid #fff;
    height: 58px;
    width: 100%}
  
  .view-upcoming-batches-basavanagudi .views-label{  float: left;
    margin-right: 2%
}
.view-upcoming-batches-basavanagudi .views-label-title .field-content a {font-size: 1em; vertical-align: top}
.more-link { background: none repeat scroll 0 0 lightgrey;
    border-radius: 6%;
    box-shadow: 0 0 8px #000 inset;
    float: right;
    margin: 0 1% 1% 0;
    padding: 0.6%}
   .views-row .views-field  {
    font-size: 0.9em;
    line-height: 22px;
    padding: 0 0 0 0.5em
    }
   .view-header {background:lightgrey;
    line-height: 46px;
    padding: 0 18px;
    width: 100%}
    
/*.block-views {width: 70%}*/

/*.view-upcoming-batches-basavanagudi{display:none !important}*/

#block-views-482fd0831d584d76c4c4d1132347f141 , #block-views-1573560a528183e2a90d40e3e65c28f0 ,
#block-views-93446f3724eb8f11ba39ddf22d637e98 , #block-views-4923efa4e52207e50efebb213f749579 ,
#block-views-5fe62d4a686649d6abff29f45e58093a , #block-views-e10159b09553e52b355646714b2fe08e
{display:none; background: #fff}


    
    #branches:last-child {margin:0 !important}
 
    #branches h4 {font-size: 15px}
    
  /* .basavanagudi {background-color: rgba(180, 62, 146, 0.8) }
    .banasawadi {background-color: rgba(131, 63, 148, 0.8) }
    .chennai_vadapalani {background-color: rgba(243, 111, 51, 0.8) }
    .old_airport_road {background-color: rgba(141, 198, 63, 0.8) }
    .mysore {background-color: rgba(255, 198, 63, 0.8)}*/
  
  .basavanagudi { background-color: #706d3c;opacity: 0.9}
  .banasawadi {background-color: #e65527; opacity: 0.9}
  .chennai_vadapalani { background-color: #37a5b3;opacity: 0.9}
  .old_airport_road {background-color: #363948;opacity: 0.9}
  .mysore {background-color: #716f84;opacity: 0.9}
  .rajajinagar {  background: none repeat scroll 0 0 #d5bc3a; opacity: 0.9}
  .pune { background: none repeat scroll 0 0 #5ea07f; opacity: 0.9}
  .odisha { background: none repeat scroll 0 0 #1d6285; opacity: 0.9}
  .noida {background: none repeat scroll 0 0 #86b3bb;opacity: 0.9}
  .chennai_chromepet{background: none repeat scroll 0 0 #000;opacity: 0.9 }
  
  
  
  
    
  /*  #branches {margin-top: -160px; position: relative}*/
  
  
    #branches_block a {color: #fff }
     #branches_block a:hover {text-decoration: none;}
    #branches_block  {color: #fff ; text-shadow: 0 2px 2px #333}
    
    #block-block-2 h2 { background: none repeat scroll 0 0 rgba(1, 1, 1, 0.17);text-align: center; color: #fff}
    
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        
        color: #050404;
        background:none

    }
    
    .navbar-header h2 {
    color: orange;
    margin-top: 40px;
    text-shadow: 1px 0 0px #000}
 .view-course .views-field-title { background: none repeat scroll 0 0  #dc8d5f;
    color: #fff;
    font-size: 1em;
    padding: 9px;
    text-align: center}
    
   .view-course .views-field {line-height: 30px}
    
   .view-course .views-field-title  a { color:#fff;
    font-size: 15px;
    font-weight: bold;
   }
    
    
   .front .page-header {padding: 10px;
    text-align: center}
    
    .view-course ul {padding: 6px 10px}
     .view-course ul li {list-style: none}
     
     .view-testimonials .views-field-field--testimonial-photo img{border: 2px solid orange; padding: 5px}
     
      .view-testimonials .views-row .views-field { padding: 1em 0 0 0.5em}
      
      .view-testimonials .views-row {
    clear: both;
    padding: 22px 0 16px 10px
}
     
     
 /*.view-testimonials .views-row {
      background-color: #fff;
    border-color: #a0ce4e #e8e6e6 #e8e6e6;
    border-style: solid;
    border-width: 3px 1px 1px
}
   
.view-testimonials .views-row:before, .view-testimonials .views-row:after {
    bottom: 15px;
    box-shadow: 0 17px 10px rgba(0, 0, 0, 0.7);
    content: "";
    height: 20%;
    left: 10px;
    max-height: 100px;
    max-width: 460px;
    opacity: 0.7;
    position: absolute;
    transform: rotate(-3deg);
    width: 60%;
    z-index: -1
}

.view-testimonials .views-row:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg)
}*/


.not-front .row {
margin-right: -15px;
margin-left: -15px;
padding-bottom: 15px;
padding-top: 15px
}
     
     
 .view-branches .views-field-title { background: none repeat scroll 0 0 #ccc; font-size: 18px; padding: 10px}  
     
     
    
    