body ,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
/*{ font-family: "Proxima Nova",sans-serif}*/
/*{font-family: 'Roboto', sans-serif;}*/
{font-family: 'Open Sans', sans-serif; }

html.overlay-open .navbar-fixed-top {
    z-index: 400;
}
html.js fieldset.collapsed {
    height: auto;
}
html.js input.form-autocomplete {
    background-image: none;
}
body {
    position: relative;
}
body.admin-expanded.admin-vertical.admin-nw .navbar, body.admin-expanded.admin-vertical.admin-sw .navbar {
    margin-left: 260px;
}
body.navbar-is-fixed-top {
    padding-top: 64px!important;
}
body.navbar-is-fixed-bottom {
    padding-bottom: 64px!important;
}
body.toolbar {
    padding-top: 30px!important;
}
body.toolbar .navbar-fixed-top {
    top: 30px;
}
body.toolbar.navbar-is-fixed-top {
    padding-top: 94px!important;
}
body.toolbar-drawer {
    padding-top: 64px!important;
}
body.toolbar-drawer .navbar-fixed-top {
    top: 64px;
}
body.toolbar-drawer.navbar-is-fixed-top {
    padding-top: 128px!important;
}
body.admin-menu .navbar-fixed-top {
    top: 29px;
}
body.admin-menu.navbar-is-fixed-top {
    padding-top: 93px!important;
}
body div#admin-toolbar {
    z-index: 1600;
}
body #toolbar, body #admin-menu, body #admin-toolbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
body #admin-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1600;
}
body #admin-menu .dropdown li {
    line-height: normal;
}
.navbar.container {
    margin-top: 20px;
}
@media screen and (min-width:768px) {
    .navbar.container {
    max-width: 720px;
}
}
@media screen and (min-width:992px) {
    .navbar.container {
    max-width: 940px;
}
}

@media screen and (min-width:1200px) {
    .navbar.container {
    max-width: 1140px;
}
.navbar .container {float: left;}
#navbar {margin: 0 auto;}
#navbar img {/*margin: -7px 0 0; position: absolute; z-index: 10*/
margin: -8px 0 0;
    position: absolute;
    width: 99px;
    z-index: 10}
#menu {float: right;}

/*-----------------------------course ------------------------------------*/
 
           /*----------------------- course------------*/
   .basavanagudi , .banasawadi , .chennai_vadapalani ,.old_airport_road , .mysore , .rajajinagar , .pune , .odisha , .noida ,
   .chennai_chromepet
   
   {
   background: none repeat scroll 0 0 rgba(255, 175, 75, 0.4);
    cursor: pointer;
    float: left;
    height: 160px;
    line-height: 24px;
   /* margin: 0 3.8px 10px 0;*/
    padding: 0 0 10px;
    text-align: center;
    vertical-align: middle;
   width: 20%
  
 
}
   .upcoming {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    font-size: 13px;
    margin-top: -74px;
    padding: 11px}
   
   
   .front #branches {/*margin-top: -206px;
    /*position: absolute;
    position: relative;
    width: 100% */
    left: 0;
    margin: -430px auto 57px;
    position: absolute;
    right: 0;
    width: 960px;
    z-index: 999
    }
   
   .view-course .views-row {
    background: none repeat scroll 0 0 #eee;
    float: left;
    margin-right: 7px;
    padding: 10px;
    width: 24.38%;
    margin-bottom: 10px;
    min-height: 228px}
    
     /*---------------------------------testimonials----------------------------------*/
     .view-testimonials .views-field-title { background: none repeat scroll 0 0 #eee;
    font-size: 1.4em !important;
    padding: 10px !important}
       
   .view-testimonials .views-field-field--testimonial-photo {
    float: left;
    width: 20%
    }
   
   .view-branches .views-row {   background: none repeat scroll 0 0 #eee;
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
    min-height: 219px;
    padding: 10px;
    width: 49%}

.view-upcoming-batches-basavanagudi .views-row { 
  background: #fff none repeat scroll 0 0;
    float: left;
    margin: 0 6px 20px 5px;
    height: 310px;
    width: 19%;
}
.view-upcoming-batches-basavanagudi .views-row img { height: 130px !important ;width:216px;}




/*-----------------------------end of course ---------------------------------*/


}
.navbar.container>.container {
    margin: 0;
    padding: 0;
    width: auto;
}
#overlay-container, .overlay-modal-background, .overlay-element {
    z-index: 1500;
}
#toolbar {
    z-index: 1600;
}
.modal {
    z-index: 1620;
}
.modal-dialog {
    z-index: 1630;
}
.modal-backdrop {
    z-index: 1610;
}
.footer {
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
    border-top: 1px solid #E5E5E5;
}
.element-invisible {
    margin: 0;
    padding: 0;
    width: 1px;
}
.navbar .logo {
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width:768px) {
    .navbar .logo {
    margin-right: 0;
    padding-left: 0;
}
}ul.secondary {
    float: left;
}
@media screen and (min-width:768px) {
    ul.secondary {
    float: right;
}
}.page-header {
  /*  margin-top: 0;*/
}
.block:first-child h2.block-title {
    margin-top: 0;
}
p:last-child {
    margin-bottom: 0;
}
.region-help>.glyphicon {
    font-size: 18px;
    float: left;
    margin: -.05em .5em 0 0;
}
.region-help .block {
    overflow: hidden;
}
form#search-block-form {
    margin: 0;
}
.navbar #block-search-form {
    float: none;
    margin: 5px 0 5px 5px;
}
@media screen and (min-width:992px) {
    .navbar #block-search-form {
    float: right;
}
}.navbar-search .control-group {
    margin-bottom: 0;
}
ul.action-links {
    margin: 12px 0;
    padding: 0;
}
ul.action-links li {
    display: inline;
    margin: 0;
    padding: 0 6px 0 0;
}
ul.action-links .glyphicon {
    padding-right: .5em;
}
input, textarea, select, .uneditable-input {
    max-width: 100%;
    width: auto;
}
input.error {
    color: #b94a48;
    border-color: #ebccd1;
}
fieldset legend.panel-heading {
    float: left;
    line-height: 1em;
    margin: 0;
}
fieldset .panel-body {
    clear: both;
}
fieldset .panel-heading a.panel-title {
    color: inherit;
    display: block;
    margin: -10px -15px;
    padding: 10px 15px;
}
fieldset .panel-heading a.panel-title:hover {
    text-decoration: none;
}
.form-actions {
    clear: both;
}
.resizable-textarea textarea {
    border-radius: 4px 4px 0 0;
}
.radio:first-child, .checkbox:first-child {
    margin-top: 0;
}
.radio:last-child, .checkbox:last-child {
    margin-bottom: 0;
}
.help-block, .control-group .help-inline {
    color: #999;
    font-size: 12px;
    margin: 5px 0 10px;
    padding: 0;
}
.panel-heading {
    display: block;
}
a.tabledrag-handle .handle {
    height: auto;
    width: auto;
}
.error {
    color: #b94a48;
}
div.error, table tr.error {
    background-color: #f2dede;
    color: #b94a48;
}
.control-group.error {
    background: 0;
}
.control-group.error label, .control-group.error .control-label {
    color: #b94a48;
    font-weight: 600;
}
.control-group.error input, .control-group.error textarea, .control-group.error select, .control-group.error .uneditable-input {
    color: #555;
    border: 1px solid #ccc;
}
.control-group.error .help-block, .control-group.error .help-inline {
    color: #333;
}
.list-inline>li.first {
    padding-left: 0;
}
.nav-tabs {
    margin-bottom: 10px;
}
ul li.collapsed, ul li.expanded, ul li.leaf {
    list-style: none;
    list-style-image: none;
}
.tabs--secondary {
    margin: 0 0 10px;
}
.submitted {
    margin-bottom: 1em;
    font-style: italic;
    font-weight: 400;
    color: #777;
}
.password-strength {
    width: 17em;
    float: right;
    margin-top: 1.4em;
}
.password-strength-title {
    display: inline;
}
.password-strength-text {
    float: right;
    font-weight: 700;
}
.password-indicator {
    background-color: #949494;
    height: .3em;
    width: 100%}
.password-indicator div {
    height: 100%;
    width: 0;
    background-color: #999;
}
input.password-confirm, input.password-field {
    width: 16em;
    margin-bottom: .4em;
}
div.password-confirm {
    float: right;
    margin-top: 1.5em;
    visibility: hidden;
    width: 17em;
}
div.form-item div.password-suggestions {
    padding: .2em .5em;
    margin: .7em 0;
    width: 38.5em;
    border: 1px solid #B4B4B4;
}
div.password-suggestions ul {
    margin-bottom: 0;
}
.confirm-parent, .password-parent {
    clear: left;
    margin: 0;
    width: 36.3em;
}
.progress-wrapper .progress {
    margin-bottom: 10px;
}
.pagination ul>li>a.progress-disabled {
    float: left;
}
.form-autocomplete .glyphicon {
    color: #999;
    font-size: 120%}
.form-autocomplete .glyphicon.glyphicon-spin {
    color: #428bca;
}
.form-autocomplete .input-group-addon {
    background-color: #fff;
}
.ajax-progress .glyphicon {
    font-size: 90%;
    margin: 0 -.25em 0 .5em;
}
.glyphicon-spin {
    display: inline-block;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
a .glyphicon-spin {
    display: inline-block;
    text-decoration: none;
}
@-moz-keyframes spin {
    0% {
    -moz-transform: rotate(0deg);
}
100% {
    -moz-transform: rotate(359deg);
}
}@-webkit-keyframes spin {
    0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
}
}@-o-keyframes spin {
    0% {
    -o-transform: rotate(0deg);
}
100% {
    -o-transform: rotate(359deg);
}
}@-ms-keyframes spin {
    0% {
    -ms-transform: rotate(0deg);
}
100% {
    -ms-transform: rotate(359deg);
}
}@keyframes spin {
    0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}.glyphicon-refresh {
    -webkit-transform-origin: 50% 45%;
    -moz-transform-origin: 50% 45%;
    -ms-transform-origin: 50% 45%;
    -o-transform-origin: 50% 45%;
    transform-origin: 50% 45%}
.tabbable {
    margin-bottom: 20px;
}
.tabs-below>.nav-tabs, .tabs-left>.nav-tabs, .tabs-right>.nav-tabs {
    border-bottom: 0;
}
.tabs-below>.nav-tabs .summary, .tabs-left>.nav-tabs .summary, .tabs-right>.nav-tabs .summary {
    color: #999;
    font-size: 12px;
}
.tab-pane>.panel-heading {
    display: none;
}
.tab-content>.active {
    display: block;
}
.tabs-below>.nav-tabs {
    border-top: 1px solid #ddd;
}
.tabs-below>.nav-tabs>li {
    margin-top: -1px;
    margin-bottom: 0;
}
.tabs-below>.nav-tabs>li>a {
    border-radius: 0 0 4px 4px;
}
.tabs-below>.nav-tabs>li>a:hover, .tabs-below>.nav-tabs>li>a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}
.tabs-below>.nav-tabs>.active>a, .tabs-below>.nav-tabs>.active>a:hover, .tabs-below>.nav-tabs>.active>a:focus {
    border-color: transparent #ddd #ddd;
}
.tabs-left>.nav-tabs, .tabs-right>.nav-tabs {
    padding-bottom: 20px;
    width: 220px;
}
.tabs-left>.nav-tabs>li, .tabs-right>.nav-tabs>li {
    float: none;
}
.tabs-left>.nav-tabs>li:focus, .tabs-right>.nav-tabs>li:focus {
    outline: 0;
}
.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a {
    margin-right: 0;
    margin-bottom: 3px;
}
.tabs-left>.nav-tabs>li>a:focus, .tabs-right>.nav-tabs>li>a:focus {
    outline: 0;
}
.tabs-left>.tab-content, .tabs-right>.tab-content {
    border-radius: 0 4px 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 10px 15px;
}
.tabs-left>.nav-tabs {
    float: left;
    margin-right: -1px;
}
.tabs-left>.nav-tabs>li>a {
    border-radius: 4px 0 0 4px;
}
.tabs-left>.nav-tabs>li>a:hover, .tabs-left>.nav-tabs>li>a:focus {
    border-color: #eee #ddd #eee #eee;
}
.tabs-left>.nav-tabs>.active>a, .tabs-left>.nav-tabs>.active>a:hover, .tabs-left>.nav-tabs>.active>a:focus {
    border-color: #ddd transparent #ddd #ddd;
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, .05);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .05);
}
.tabs-right>.nav-tabs {
    float: right;
    margin-left: -1px;
}
.tabs-right>.nav-tabs>li>a {
    border-radius: 0 4px 4px 0;
}
.tabs-right>.nav-tabs>li>a:hover, .tabs-right>.nav-tabs>li>a:focus {
    border-color: #eee #eee #eee #ddd;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
}
.tabs-right>.nav-tabs>.active>a, .tabs-right>.nav-tabs>.active>a:hover, .tabs-right>.nav-tabs>.active>a:focus {
    border-color: #ddd #ddd #ddd transparent;
}
th.checkbox, td.checkbox, th.radio, td.radio {
    display: table-cell;
}
.views-display-settings .label {
    font-size: 100%;
    color: #666;
}
.views-display-settings .footer {
    padding: 0;
    margin: 4px 0 0;
}
table .radio input[type=radio], table .checkbox input[type=checkbox] {
    max-width: inherit;
}
.form-horizontal .form-group label {
    position: relative;
    min-height: 1px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
}
@media (min-width:768px) {
    .form-horizontal .form-group label {
    float: left;
    width: 16.666666666666664%}
}.alert a {
    font-weight: 700;
}
.alert-success a {
    color: #356635;
}
.alert-info a {
    color: #2d6987;
}
.alert-warning a {
    color: #a47e3c;
}
.alert-danger a {
    color: #953b39;
}

/*--------------------shashi----------------------------*/
.navbar-default {background: none; border: none;}
.navbar-header h2  {display: none;}
.navbar-brand{text-indent: -9999px;} 

/*.view-upcoming-batches-basavanagudi{display:none !important}*/
#block-views-482fd0831d584d76c4c4d1132347f141 , #block-views-1573560a528183e2a90d40e3e65c28f0 ,
#block-views-93446f3724eb8f11ba39ddf22d637e98 , #block-views-4923efa4e52207e50efebb213f749579 ,
#block-views-5fe62d4a686649d6abff29f45e58093a , #block-views-e10159b09553e52b355646714b2fe08e
{display:block; background: #f5f5f5}
#block-block-2 h2 {
     background: rgba(1, 1, 1, 0.17) none repeat scroll 0 0;
    color: #fff;
   font-weight: 300;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
#branches_block {
    color: #fff;
    text-shadow: 0 2px 2px #333;
}
.basavanagudi {
    background-color: #706d3c;
    opacity: 0.9;
}
.banasawadi {
    background-color: #e65527;
    opacity: 0.9;
}
.chennai_vadapalani {
    background-color: #37a5b3;
    opacity: 0.9;
}
.old_airport_road {
    background-color: #363948;
    opacity: 0.9;
}
.mysore {
    background-color: #716f84;
    opacity: 0.9;
}
.rajajinagar {
    background: #d5bc3a none repeat scroll 0 0;
    opacity: 0.9;
}
.pune {
    background: #5ea07f none repeat scroll 0 0;
    opacity: 0.9;
}
.odisha {
    background: #1d6285 none repeat scroll 0 0;
    opacity: 0.9;
}
.noida {
    background: #86b3bb none repeat scroll 0 0;
    opacity: 0.9;
}
.chennai_chromepet {
    background: #000 none repeat scroll 0 0;
    opacity: 0.9;
}
#branches_block a {color: #fff;}
#branches_block h4 {font-size: 15px;padding: 15px 0 0;}
#branches_block a:hover {text-decoration: none;}
.not-front #navbar img {  margin-left: 10px; width: 100px;}

.not-front #navbar {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    min-height: 50px;
    padding: 0 20px;
    box-shadow: 0 0 2px #eee;
}

.not-front #menu li a {  
    border-radius: 0;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 0.88em;
    font-weight: 500;
    letter-spacing: -0.1px;
    padding: 16px 10px;
    transition: all 0.3s ease 0s;
}
.navbar-nav > li > a {font-size: 13px;}

.overlay_background {
    background: rgba(39, 28, 28, 0.42) none repeat scroll 0 0;
    position: absolute;
}

.main_background_basavanagudi {
  /*  background: url("https://scls01-a.akamaihd.net/imgs/ls-bg.jpg") repeat scroll 0 0; */
    background: rgba(0, 0, 0, 0) url("/qspiders/sites/all/modules/layer_slider/sampleslider/new_layer_slider.jpg") no-repeat scroll 0 -220px / cover ;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    max-width: 100%;
    vertical-align: middle;
    z-index: 1;
    height: 230px;
    filter: grayscale(1);
   -webkit-filter: grayscale(1);
   -webkit-filter: grayscale(100%);
   

}
.main_background_basavanagudi:hover {
    filter:grayscale(0); 
    cursor: pointer;
     transition-property: filter;
    transition-duration: 1s;
    opacity: 0.80;
  -webkit-filter: grayscale(0);
   -webkit-filter: grayscale(0%);
   
    
   
    }
.main_background_basavanagudi h1 {
     color: #fff;
     font-size: 27px;
     font-weight: 200;
     margin-top: 0;
     padding: 66px 0 0;
     position: relative;
     text-shadow: 1px 1px 2px rgba(61, 69, 42, 1);
     text-transform: uppercase;
     z-index: 999;

}

.bg-mask {
    background: rgba(39, 28, 28, 0.42) none repeat scroll 0 0;
    position: absolute;
}
.bg-mask, .main_background_basavanagudi {
    height: 230px;
    width: 100%;
}



#branches_inside {background:#f5f5f5 ;}
.view-upcoming-batches-basavanagudi .view-header {padding: 23px 0; text-align: center;}
.view-upcoming-batches-basavanagudi .view-header span {margin: 0 10px;}
.region-branches-inside {background:#f5f5f5; }
.view-upcoming-batches-basavanagudi .views-field-nothing .date-group {
     background: #3f3f3f none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
    height: auto;
    margin-bottom: 20px;
    margin-top: -50px;
    opacity: 0.71;
    padding: 5px 10px 5px 6px;
    position: absolute;
    text-align: left;
    width: auto;
   
}
.view-upcoming-batches-basavanagudi .views-field-title {
 border-bottom: 1px solid #ededed;
    font-size: 12px;
    padding: 14px 3px 7px 8px;
    text-transform: uppercase;
}

.date-group i { color: orange;float: left;font-size: 20px;margin: -3px 3px 0 0;}
.views-field-field--batch-timings span{float: left;}
.clock-method i {color: #333;float: left;font-size: 14px; margin: 2px 8px 2px 5px;}
.timings {font-size: 13px; padding: 13px 0 13px 8px; }
.field-content {font-weight: 400;}
.views-field-field-tutor {font-size: 13px; padding: 2px 0 14px 10px;}
.lable-time {float: left; font-weight: 500; margin: 0 5px 0 0;}
.views-label-field-tutor i {   color: #333; float: left;font-size: 13px;margin: 3px 4px 0;}
.tutor_name {float: left;  margin: 0 12px 0 2px;}
.views-field-field--contact-number .views-label-field--contact-number i {
    color: #333;
    float: left;
       font-size: 18px;
    margin: -2px 6px 0;
}
.contact_label {float: left;}
.views-field-field--contact-number {font-size: 13px;padding: 0px 10px 20px;}
#branches_block p {font-size: 13px;}
#morelink {text-align: center; padding: 20px 0;}
.not-front #branches h1 { 
    background: #ce700d none repeat scroll 0 0;
    color: #fff;
    margin: 0;
    padding: 6px 4px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 22px;
}
.more-link a {text-transform: uppercase;}


/*---------------------------page course branch -----------------------------*/

.page-basavanagudi-full .date-calender span.timings ,
.page-rajajinagar-full .date-calender span.timings,
.page-oldairportroad-full .date-calender span.timings,
.page-banasawadi-full .date-calender span.timings,
.page-chennai-vadapalani-full .date-calender span.timings,
.page-mysore-full .date-calender span.timings ,
.page-pune-full .date-calender span.timings ,
.page-bhubaneswar-full .date-calender span.timings ,
.page-noida-full .date-calender span.timings ,
.page-chennai-chromepet-full .date-calender span.timings
           {
                background: #f0ad4e none repeat scroll 0 0;
                border: 1px solid #eea236;
                border-radius: 4px;
                color: white;
                display: block;
                float: right;
                font-size: 12px;
                font-weight: 500;
                padding: 1px;
            }

.page-basavanagudi-full .view-upcoming-batches-basavanagudi .views-field-title,
.page-rajajinagar-full .view-upcoming-batches-basavanagudi .views-field-title,
.page-oldairportroad-full  .view-upcoming-batches-basavanagudi .views-field-title,
.page-banasawadi-full  .view-upcoming-batches-basavanagudi .views-field-title ,
.page-chennai-vadapalani-full .view-upcoming-batches-basavanagudi .views-field-title ,
.page-mysore-full .view-upcoming-batches-basavanagudi .views-field-title ,
.page-pune-full .view-upcoming-batches-basavanagudi .views-field-title ,
.page-bhubaneswar-full .view-upcoming-batches-basavanagudi .views-field-title  ,
.page-noida-full .view-upcoming-batches-basavanagudi .views-field-title ,
.page-chennai-chromepet-full .view-upcoming-batches-basavanagudi .views-field-title
 
  {font-weight: 600;}



.page-basavanagudi-full .date-calender ,
.page-rajajinagar-full .date-calender,
.page-oldairportroad-full  .date-calender,
.page-banasawadi-full  .date-calender ,
.page-chennai-vadapalani-full .date-calender ,
.page-mysore-full .date-calender ,
.page-pune-full .date-calender ,
.page-bhubaneswar-full .date-calender ,
.page-noida-full .date-calender ,
.page-chennai-chromepet-full .date-calender 
   {
    font-size: 12px;font-weight: 400; padding: 10px;
   }

.page-basavanagudi-full .date-calender i ,
.page-rajajinagar-full .date-calender i,
.page-oldairportroad-full  .date-calender i,
.page-banasawadi-full  .date-calender i ,
.page-chennai-vadapalani-full .date-calender i ,
.page-mysore-full .date-calender i ,
.page-pune-full .date-calender i ,
.page-bhubaneswar-full .date-calender i ,
.page-noida-full .date-calender i ,
.page-chennai-chromepet-full .date-calender i
  {
    margin: 0 4px 0 0;
  }
.page-basavanagudi-full .view-upcoming-batches-basavanagudi .views-row ,
.page-rajajinagar-full .view-upcoming-batches-basavanagudi .views-row ,
.page-oldairportroad-full  .view-upcoming-batches-basavanagudi .views-row ,
.page-banasawadi-full  .view-upcoming-batches-basavanagudi .views-row ,
.page-chennai-vadapalani-full .view-upcoming-batches-basavanagudi .views-row ,
.page-mysore-full .view-upcoming-batches-basavanagudi .views-row ,
.page-pune-full .view-upcoming-batches-basavanagudi .views-row ,
.page-bhubaneswar-full .view-upcoming-batches-basavanagudi .views-row ,
.page-noida-full .view-upcoming-batches-basavanagudi .views-row ,
.page-chennai-chromepet-full .view-upcoming-batches-basavanagudi .views-row 
   {
    background: #f5f5f5 none repeat scroll 0 0;
   }

.page-basavanagudi-full .page-header ,
.page-rajajinagar-full .page-header ,
.page-oldairportroad-full  .page-header ,
.page-banasawadi-full  .page-header ,
.page-chennai-vadapalani-full .page-header ,
.page-mysore-full .page-header ,
.page-pune-full .page-header ,
.page-bhubaneswar-full .page-header ,
.page-noida-full .page-header ,
.page-chennai-chromepet-full .page-header
  {
    font-size: 28px; text-align: center;text-transform: uppercase;
  }

.page-basavanagudi-full .views-field-field--contact-number ,
.page-rajajinagar-full .views-field-field--contact-number ,
.page-oldairportroad-full  .views-field-field--contact-number ,
.page-banasawadi-full  .views-field-field--contact-number ,
.page-chennai-vadapalani-full .views-field-field--contact-number ,
.page-mysore-full .views-field-field--contact-number ,
.page-pune-full .views-field-field--contact-number ,
.page-bhubaneswar-full .views-field-field--contact-number ,
.page-noida-full .views-field-field--contact-number ,
.page-chennai-chromepet-full .views-field-field--contact-number 

    {
      font-size: 13px;padding: 3px 3px 8px;
    }

.page-basavanagudi-full .views-label-field-tutor i ,
.page-rajajinagar-full .views-label-field-tutor i ,
.page-oldairportroad-full  .views-label-field-tutor i ,
.page-banasawadi-full  .views-label-field-tutor i ,
.page-chennai-vadapalani-full .views-label-field-tutor i ,
.page-mysore-full .views-label-field-tutor i ,
.page-pune-full .views-label-field-tutor i ,
.page-bhubaneswar-full .views-label-field-tutor i ,
.page-noida-full .views-label-field-tutor i ,
.page-chennai-chromepet-full .views-label-field-tutor i

   {
     color: #333;float: left;font-size: 16px;margin: 1px 0;
   }

.page-basavanagudi-full .views-field-field-tutor ,
.page-rajajinagar-full .views-field-field-tutor ,
.page-oldairportroad-full  .views-field-field-tutor ,
.page-banasawadi-full  .views-field-field-tutor ,
.page-chennai-vadapalani-full .views-field-field-tutor ,
.page-mysore-full .views-field-field-tutor ,
.page-pune-full .views-field-field-tutor ,
.page-bhubaneswar-full .views-field-field-tutor ,
.page-noida-full .views-field-field-tutor ,
.page-chennai-chromepet-full .views-field-field-tutor 
   {
     padding:2px 0 8px 9px;
   }
.views-field-field-ratings span {float: left;}
.views-field-field-ratings {font-size: 13px; padding: 0 9px;}

/*----------------------------end of course branch page --------------------------*/
.ls-layer img {width: 100% !important; filter:grayscale(0.6); -webkit-filter: grayscale(0.6);}

.nanu{
    background: #000 !important;
   /* border-radius: 10px !important;*/
    width: 100% !important;
    height: 85px !important; 
    transition:all ease 0.4s;
    opacity: 0.91 !important;
    cursor: pointer;
    margin: -86px -20px 0px 0px !important;
    z-index: 999;
    text-transform: uppercase;
    filter:grayscale(0) !important;
     -webkit-filter: grayscale(0);
    padding: 50 0px 50px 0px !important;
    font-size: 12px !important;
    position: relative !important;
    
}
.view-upcoming-batches-basavanagudi .views-row:hover {cursor: pointer;   transition:ease all 0.8s;font-size: 11px !important; 
filter:grayscale(0.9); 
 -webkit-filter: grayscale(0.9);
}
.day_name , .date_time{display: none;}
.date-display-single {float: left;  float: left; margin-right: 5px;}
.date_time {float: right;padding: 5px;}
.faculty {
 clear: both;
    display: none;
    float: right;
    text-align: right;
    padding: 1px 0px 1px 0px;
color: #428bca;}
.view-upcoming-batches-basavanagudi .views-row img { height: auto;width:100%;}
.node-front-page-title { line-height: 30px; padding: 30px;text-align: center;}
a , a:hover{color: #ce700d;text-decoration: none;}
.node-front-page-title h2 {text-transform: uppercase;}